body {
    margin: 20px;
}
.avatar {
    width: 150px;
    transform: rotate(90deg);
    margin: 20px 0 20px 0;

}

.card {
    padding: 20px;
    display: flex;
}

.blue-border {
    border: 4px dotted blue;
}
